[Desktop Entry]
Version=1.0
Name=FlyMovies App
GenericName=FlyMovies App
Comment=FlyMovies App
Terminal=false
Type=Application
Categories=Utility
Keywords=flymovies;flutter;movies